<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/saykat/bookings">BOOKINGS</a>
    </li>
  </ul>

  {% block content %}
    <h1>My booking list</h1>

    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">Description</th>
          <th scope="col">Package</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      {% for b in bookings_list %}
        <tr>
            <th scope="row">{{ 1 }}</th>
            <td>{{ b.name }}</td>
            <td>{{ b.date }}</td>
            <td>{{ b.description }}</td>
            <td>{{ b.package.name }} </td>
            <td><button class="btn"><i class="fa fa-trash"></i></button></td>
        </tr>
      {% endfor %}
      <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn">
                    <a href="/bookings/add">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </button>
            </td>
        </tr>
      </tbody>
    </table>

  {% endblock %}
</div>

</body>
</html>