<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/bookings/list">BOOKINGS</a>
    </li>
  </ul>

  {% block content %}
    <h1>Add travel booking</h1>

          <form method="post">
            {% csrf_token %}
              <input type="hidden" class="form-control" id="customer" name="customer" value="1">
              <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" name="name">
                </div>
              </div>
              <div class="row mb-3">
                <label for="description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="description" name="description">
                </div>
              </div>
              <div class="row mb-3">
                <label for="date" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="date" name="date">
                </div>
              </div>
              <div class="row mb-3">
                <label for="package" class="col-sm-2 col-form-label">Package</label>
                <div class="col-sm-10">
                  <select class="form-select" aria-label="Default select example" id="package" name="package">
                       <option selected>Open and select a package</option>
                      {% for p in package_list %}
                        <option value="{{ p.id }}">{{ p.name }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Add</button>
          </form>

  {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>